<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--<property name="LOG_HOME" value="/root/opt/servers/bi_log" />  -->

    <!--其中TAS_HOME,CATALINA_HOME分别是两个变量引用，表示为TAS的home目录，或者tomcat的home目录-->
    <property name="LOG_HOME" value="${TAS_HOME:-..}/prophesy_log" />
    <!--property name="LOG_HOME" value="${CATALINA_HOME:-..}/logs"/-->
    <timestamp key="byDay" datePattern="yyyy-MM-dd" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n </pattern>
		</encoder>
    </appender>
    
    
    <appender name="INFOFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/bi-logInfo.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${byDay}/bi-logInfo-${byDay}-%i.log.zip
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n </pattern>
        </encoder>
    </appender>  
    
    
    
    <root level="DEBUG">
        <appender-ref ref="STDOUT" /> 
        <appender-ref ref="INFOFILE"/>  
        <!-- <appender-ref ref="DEBUGFILE"/>  
        <appender-ref ref="ERRORFILE" /> -->
    </root>
     
     
     

</configuration>